*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* border: solid 1px red; */
    font-size: 20px;
    }

h1{
    text-align: center;
    font-size: xx-large;
    
}
mesRègles{
    border: solid 1px red;
    border-radius: 5rem;
}